<main class="bg-gray-900 flex flex-col items-center justify-center h-screen">
  <h1
    class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-bold mb-8 text-white"
  >
    Tic-Tac-Toe Game
  </h1>
  <div
    class="block max-w-lg w-full mx-auto p-6 bg-blue-900 text-white border-2 border-gray-700 shadow-md rounded-lg"
  >
    <h1 class="text-2xl font-bold mb-4">Player Setup</h1>
    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="player1Name" class="block text-sm font-medium mb-2"
          >Player 1 Name</label
        >
        <input
          type="text"
          formControlName="player1"
          class="border p-2 w-full rounded"
          required
        />
        <div
          *ngIf="
            playerForm.get('player1')?.invalid &&
            playerForm.get('player1')?.touched
          "
          class="text-red-500 text-sm"
        >
          Player 1 name is required
        </div>
      </div>
      <div class="mb-4">
        <label for="player2Name" class="block text-sm font-medium mb-2"
          >Player 2 Name</label
        >
        <input
          type="text"
          formControlName="player2"
          class="border p-2 w-full rounded"
          required
        />
        <div
          *ngIf="
            playerForm.get('player2')?.invalid &&
            playerForm.get('player2')?.touched
          "
          class="text-red-500 text-sm"
        >
          Player 2 name is required
        </div>
      </div>

      <div class="mb-4">
        <label for="player1Symbol" class="text-sm font-medium mb-2"
          >Player 1 Symbol</label
        >
        <select
          formControlName="player1Symbol"
          class="border p-2 w-full rounded"
          required
        >
          <option value="X">X</option>
          <option value="O">O</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="player1Symbol" class="text-sm font-medium mb-2"
          >Player 2 Symbol</label
        >
        <select
          formControlName="player2Symbol"
          class="border p-2 w-full rounded"
          required
        >
          <option value="X">X</option>
          <option value="O">O</option>
        </select>
      </div>
      <button type="submit" class="bg-blue-500 text-white p-2 rounded">
        Start Game
      </button>
    </form>
  </div>
</main>
